<div class="min-h-screen bg-black text-white font-sans">
  <!-- Navbar -->
  <header class="flex items-center justify-between px-8 py-4 bg-black fixed top-0 w-full z-50">
    <a href="/" class="inline-flex items-center">
      <img src="assets/img/logo.png" alt="SmartGym Logo" class="max-h-14 w-auto">
    </a>

    <!-- Links -->
    <nav class="hidden md:flex space-x-8 text-white text-base font-bold uppercase tracking-wide relative z-50">
      <a routerLink="/inicio" class="hover:text-orange-400 cursor-pointer transition-colors">Inicio</a>
      <a routerLink="/servicios" class="hover:text-orange-400 cursor-pointer transition-colors">Servicios</a>
      <a routerLink="/membresia" class="hover:text-orange-400 cursor-pointer transition-colors">Planes</a>
      <a routerLink="/contacto" class="hover:text-orange-400 cursor-pointer transition-colors">Contacto</a>
    </nav>


    <!-- Botón -->
    <button button (click)="goToLogin()" class="bg-orange-600 hover:bg-orange-700 text-white px-5 py-2 rounded-lg text-lg font-semibold">
      Iniciar sesión
    </button>
  </header>